/* General  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background-color: rgba(204, 204, 204, 0.3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 10%;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}

a:hover {
  cursor: pointer;
  color: rgb(0, 123, 255);
}

ul {
  list-style-type: none;
}

.btn {
  margin-top: 2rem;
  width: 220px;
  padding: 8px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s;
}

.btn:hover {
  cursor: pointer;
  background-color: #cccccca7;
  color: #000;
}

.error-msg {
  color: red;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 6px 6px;
  border-radius: 8px;
  margin-bottom: 8px;
}

.success-msg {
  color: rgb(0, 101, 0);
  background-color: rgba(0, 128, 0, 0.3);
  padding: 6px 6px;
  border-radius: 8px;
  margin-bottom: 8px;
}

/* Navbar */

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 2rem 0;
}

.navbar-wrapper .navbar-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.navbar-wrapper .navbar-list li {
  font-size: 22px;
}

/* Login & Register Form */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.form-wrapper {
  width: 500px;
  text-align: center;
  border: 1px solid #cccccca7;
  padding: 15px 15px;
  border-radius: 5px;
  box-shadow: 10px 10px 5px #cccccca7, 10px 10px 5px #cccccca7;
}

.form-wrapper h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.form-wrapper input {
  display: block;
  margin: 2rem auto;
  border: none;
  border-bottom: 1px solid #000;
  background-color: inherit;
  font-size: 23px;
  padding: 8px 0;
  width: 270px;
}

.form-wrapper input:focus {
  outline: none;
}

.form-wrapper .btn {
  display: block;
  margin: 3rem auto;
  width: 270px;
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }
  .navbar-wrapper {
    margin-bottom: 5rem;
  }
  .navbar-wrapper .navbar-list li {
    font-size: 18px;
  }
  .form-wrapper {
    width: 400px;
    text-align: center;
    border: 1px solid #cccccca7;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #cccccca7, 10px 10px 5px #cccccca7;
  }
  .form-wrapper input {
    font-size: 16px;
    width: 230px;
  }
  .form-wrapper .btn {
    font-size: 16px;
    width: 230px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .navbar-wrapper {
    margin-bottom: 5rem;
  }
  .navbar-wrapper .navbar-list li {
    font-size: 14px;
  }
  .form-wrapper {
    width: 320px;
    text-align: center;
    border: 1px solid #cccccca7;
    padding: 15px 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #cccccca7, 10px 10px 5px #cccccca7;
  }
  .form-wrapper input {
    font-size: 16px;
    width: 210px;
  }
  .form-wrapper .btn {
    font-size: 16px;
    width: 230px;
  }
}

/* Write Blog Form  */

.blog-post-wrapper {
  margin: 0 20%;
}

.blog-post-wrapper h1 {
  margin-bottom: 20px;
}

.blog-form-wrapper {
  width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  border: #ccc 1px solid;
  border-radius: 5px;
  padding: 20px;
}

.blog-form-wrapper form label,
input,
textarea {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.blog-form-wrapper form input,
textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px 8px;
  font-size: 20px;
}

.blog-form-wrapper .blog-content textarea {
  height: 250px;
  resize: none;
}
